.greenState,.yellowState,.redState{
  width:3px;
  height:19px;
  display:inline-block !important;
  vertical-align: middle;
}
.greenState{
  background:#00ce9f;
}
.yellowState{
  background:#ffc357;
}
.redState{
  background:#e22b52;
}

.secondStateHide{
  display:none !important;
}

.sidebar-menu .main-menu {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}
.sidebar-menu .main-menu a {
  font-size:15px;
  color: #aeafaf;
  text-decoration: none;
  display: block;
  height:37px;
  line-height:37px;
  position:relative;
}
.sidebar-menu .main-menu a.topAlink{
  font-size: 16px;
  color:#7c7c7c;
  height:40px;
  line-height:40px;
}

.sidebar-menu .main-menu a.topAlink > span > i {
  font-size:12px;
  position:absolute;
  right:10px;
  top:12px;
}

.sidebar-menu .main-menu a > i {
  display: inline;
  margin-right: 10px;
}

.sidebar-menu .main-menu a > i {
  display: inline;
  margin-right: 10px;
}
.sidebar-menu .main-menu a > i + span {
  padding-right: 10px;
}
.sidebar-menu .main-menu a > span {
  display: inline;
}
/*.sidebar-menu .main-menu a:hover {*/
  /*color: #ffffff;*/
/*}*/
.sidebar-menu .main-menu li.active > a,.sidebar-menu .main-menu li.active ul li> a.active-menuitem,.sidebar-menu .main-menu li.active ul li> div a.selectedMenu {
  color: #ffffff;
}

.sidebar-menu .main-menu > li.opened > ul {
  display: block;
}
.sidebar-menu .main-menu > li.opened .opened > ul {
  display: block;
}
.sidebar-menu .main-menu ul,.sidebar-menu .main-menu ul li > div {
  display: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.sidebar-menu .main-menu ul.submenushow,.sidebar-menu .main-menu ul li > div.submenushow{
  display:block;
}
.sidebar-menu .main-menu ul.submenuhide,.sidebar-menu .main-menu ul li > div.submenuhide{
  display:none;
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#layout-sidebar .layout-menu > a.active-menuitem {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-menu .main-menu ul li {
  position: relative;
}

.sidebar-menu .main-menu a {
  cursor:pointer;
}
.sidebar-menu .main-menu ul li a {
  padding-left: 35px;
}
.sidebar-menu .main-menu ul li div div a {
  padding-left: 60px;
}
.sidebar-menu .main-menu ul li ul li ul li a {
  padding-left: 85px;
}
.sidebar-menu .main-menu ul li ul li ul li ul li a {
  padding-left: 110px;
}



