.greenState,.yellowState,.redState{
  width:3px;
  height:19px;
  display:inline-block !important;
  vertical-align: middle;
}
.greenState{
  background:#00ce9f;
}
.yellowState{
  background:#ffc357;
}
.redState{
  background:#e22b52;
}

.secondStateHide{
  display:none !important;
}

.sidebar-menu{
  border-right:1px solid #535456;
}

.sidebar-menu .main-menu {
  padding:0;
  list-style: none;
}
.sidebar-menu .main-menu a {
  font-size:14px;
  color: #aeafaf;
  text-decoration: none;
  display: block;
  height:37px;
  line-height:37px;
  position:relative;
  cursor:pointer;
}
.sidebar-menu .main-menu a.topAlink{
  padding-left:10px;
  font-size: 16px;
  color:#7c7c7c;
  height:40px;
  line-height:40px;
}

.sidebar-menu .main-menu a.topAlink > span > i {
  font-size:10px;
  position:absolute;
  right:20px;
  top:15px;
  color:#aeafaf;
}

.sidebar-menu .main-menu li ul li a > span > i {
  font-size:10px;
  color:#aeafaf;
}

.sidebar-menu .main-menu a.subAlink i.greenState,.sidebar-menu .main-menu a.subAlink i.yellowState,.sidebar-menu .main-menu a.subAlink i.redState{
  position:absolute;
  left:25px;
  top:10px;
}

.sidebar-menu .main-menu a.subAlink span.subIcon{
  position:absolute;
  left:35px;
}

.sidebar-menu .main-menu a.subAlink span.ui-text{
  position:absolute;
  left:50px;
}

.sidebar-menu .main-menu a.thirdAlink i.greenState,.sidebar-menu .main-menu a.thirdAlink i.yellowState,.sidebar-menu .main-menu a.thirdAlink i.redState{
  position:absolute;
  left:50px;
  top:10px;
}

.sidebar-menu .main-menu a.thirdAlink span.thirdIcon{
  position:absolute;
  left:60px;
}

.sidebar-menu .main-menu a.thirdAlink span.ui-text{
  position:absolute;
  left:75px;
}

.sidebar-menu .main-menu a.fourAlink i{
  position:absolute;
  left:60px;
  top:10px;
}

.sidebar-menu .main-menu a.fourAlink span.ui-text{
  position:absolute;
  left:80px;
}

.sidebar-menu .main-menu a > i {
  display: inline;
  margin-right: 10px;
}

.sidebar-menu .main-menu a > i {
  display: inline;
  margin-right: 10px;
}
.sidebar-menu .main-menu a > i + span {
  padding-right: 10px;
}
.sidebar-menu .main-menu a > span {
  display: inline;
}

.sidebar-menu .main-menu ul,.sidebar-menu .main-menu ul li > div {
  display: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.sidebar-menu .main-menu ul.submenushow,.sidebar-menu .main-menu ul li > div.submenushow{
  display:block;
}
.sidebar-menu .main-menu ul.submenuhide,.sidebar-menu .main-menu ul li > div.submenuhide{
  display:none;
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-menu .main-menu a.activeMenuitem{
  background:#252527;
  border-top:1px solid #535456;
  border-bottom:1px solid #535456;
}






