<div class="alain-default__content-title">
  <nz-layout style="height:100%;">
    <div class="header-title">电力系统--1#主柴油发电机--气缸</div>
    <div class="card-container">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'large'">
        <nz-tab nzTitle="健康状态评估">
          <div class="flex-container-right">
            <div class="my-container">
              <div class="font-view" style="padding:10px;border:1px solid #000; height:300px;margin: 0 4px;">
                <ul class="planform-container">
                  <li class="planform-list">
                    <h4>发电机俯视图</h4>
                    <div class="planForm-bg1">
                      <div class="planForm-temp" style="margin-left:56px;padding-top:25px;">
                        <h6 class="cubicText">B列气缸排温</h6>
                        <ul class="cubicOperation">
                          <li class="cubicOperation-num">
                            <ul class="cubicNum">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-circle">
                            <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                        </ul>
                      </div>

                      <div class="planForm-temp" style="padding-top: 55px;margin-left: 60px;">
                        <h6 class="cubicText">A列气缸排温</h6>
                        <ul class="cubicOperation">
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-circle">
                            <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-num">
                            <ul class="cubicNum">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="planform-list">
                    <h4>发电机主视图</h4>
                    <div class="planForm-bg2">
                      <div class="planForm-temp" style="padding-top: 10px;margin-left: 58px;">
                        <h6 class="cubicText">1号温度</h6>
                        <ul class="cubicOperation">
                          <li class="cubicOperation-num">
                            <ul class="cubicNum">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-circle">
                            <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="planForm-temp" style="padding-top: 30px;margin-left: 58px;">
                        <h6 class="cubicText">2号温度</h6>
                        <ul class="cubicOperation">
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-circle">
                            <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-num" style="display:none;">
                            <ul class="cubicNum">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="planform-list">
                    <h4>发电机后视图</h4>
                    <div class="planForm-bg3">
                      <div class="planForm-temp" style="padding-top: 10px;margin-left: -62px;">
                        <h6 class="cubicText">1号温度</h6>
                        <ul class="cubicOperation">
                          <li class="cubicOperation-num">
                            <ul class="cubicNum">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-circle">
                            <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="planForm-temp" style="padding-top: 32px;margin-left: -58px;">
                        <h6 class="cubicText">2号温度</h6>
                        <ul class="cubicOperation">
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-circle">
                            <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                            </ul>
                          </li>
                          <li class="cubicOperation-num">
                            <ul class="cubicNum" style="display:none;">
                              <li><span>1</span></li>
                              <li><span>2</span></li>
                              <li><span>3</span></li>
                              <li><span>4</span></li>
                              <li><span>5</span></li>
                              <li><span>6</span></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div style="display:flex;flex-wrap: wrap;">
                <div class="" *ngFor="let data of mockData.devices">
                  <h4 style="color:#7a7a7a;padding-left: 20px;margin-top: 16px;">A1缸气缸排温</h4>
                  <ul style="display:flex;flex-wrap: wrap;border: 1px solid #535456;">
                    <li *ngFor="let item of data.properties;let i = index">
                      <app-bar [item]='item'></app-bar>
                    </li>
                  </ul>
                </div>
                
                <div class="">
                  <h4 style="color:#7a7a7a;padding-left: 20px;margin-top: 16px;">B2缸气缸排温</h4>
                  <ul style="display:flex;flex-wrap: wrap;border: 1px solid #535456;">
                    <li *ngFor="let item of list3;let i = index">
                      <div class="bar-box">
                        <h4>{{item.name}}</h4>
                        <h4>{{item.unit}}{{i}}</h4>
                        <div class="bar">
                          <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
                          <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
                          <span class="bar-status bar-status-normal-bg bar-status-normal"></span>
                          <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
                          <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
                          <div class="bar-analog-icon" [ngStyle]="fnReturnState(item.analog).style"></div>
                          <div class="bar-mark bar-mark-danger">0.8</div>
                          <div class="bar-mark bar-mark-warn">24.3</div>
                          <div class="bar-mark bar-mark-normal">57.2</div>
                          <div class="bar-mark bar-mark-error">80.8</div>
                          <div class="bar-analog-value bar-status-{{fnReturnState(item.analog).state}}-color"
                            [ngStyle]="fnReturnState(item.analog).style">{{item.analog}}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-silde">
              <h2>异常提醒的辅助决策</h2>
              <ul>
                <li><span class="policy-state policy-state-danger"></span>气缸缸套温度异常提醒</li>
                <li><span class="policy-state policy-state-warn"></span>气缸出口排温异常</li>
                <li><span class="policy-state policy-state-warn"></span>xx缸振动异常提醒（便携式）</li>
              </ul>
            </div>

          </div>
        </nz-tab>
        <nz-tab nzTitle="趋势分析">
          <app-bar [item]='item'></app-bar>
        </nz-tab>
        <nz-tab nzTitle="衰退分析">
          衰退分析 pages
        </nz-tab>
        <nz-tab nzTitle="事件处理">
          事件处理 pages
        </nz-tab>
        <!-- <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title">
          <div class="my-container">
            <div class="bar-box">
              <h4>A1缸气缸排温</h4>
              <h4>（℃）</h4>
              <div class="bar">
                <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
                <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
                <span class="bar-status bar-status-normal-bg bar-status-normal"></span>
                <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
                <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
                <div class="bar-analog-icon"></div>
                <div class="bar-mark bar-mark-danger">0.8</div>
                <div class="bar-mark bar-mark-warn">24.3</div>
                <div class="bar-mark bar-mark-normal">57.2</div>
                <div class="bar-mark bar-mark-error">80.8</div>
                <div class="bar-analog-value bar-status-warn-color">89.1</div>
              </div>
            </div>
            <div class="bar-box">
              <div class="bar">
                <span class="bar-status bar-status-danger bar-status-unnormal"></span>
                <span class="bar-status bar-status-warn bar-status-unnormal"></span>
                <span class="bar-status bar-status-normal bar-status-unnormal"></span>
                <span class="bar-status bar-status-warn bar-status-unnormal"></span>
                <span class="bar-status bar-status-danger"></span>
                <div class="bar-analog-icon"></div>
              </div>
            </div>
          </div>

          <div class="my-silde">
            <h2>异常提醒的辅助决策</h2>
            <ul>
              <li><span class="policy-state policy-state-danger"></span>气缸缸套温度异常提醒</li>
              <li><span class="policy-state policy-state-warn"></span>气缸出口排温异常</li>
              <li><span class="policy-state policy-state-warn"></span>xx缸振动异常提醒（便携式）</li>
            </ul>
            Content of Tab Pane {{ tab.title }}
          </div>

        </nz-tab> -->
      </nz-tabset>
    </div>
  </nz-layout>
</div>
