@color: #7a7a7a;
@color-active: #aeafaf;
@bg-1: #292a2b;
@bg-2: #141415;
@content-bg: #222224;
@border-bottom-color: #535456;

body {
  background: @bg-2;
}

.header-title {
  font-size: 14px;
  line-height: 38px;
  padding-left: 32px;
  color: @color;
  background: @bg-1;
}

:host .alain-default__content-title {
  padding: 0;
  background-color: transparent;
  border-bottom: 0;
}

:host .ant-tabs {
  color: @color;
  background: @content-bg;

}

.flex-container-right{
  display: flex;
  .my-container{
    min-height: 762px;
    flex-grow: 1;
  }

}

.my-silde{
  flex:0 0 252px;
  min-height: 762px;
  border-left: 1px solid #000;
  padding: 16px;
  color: @color;
  h2{
    color: @color;
    font-size: 16px;
  }
  >ul{
    >li{
      margin: 15px 0;
    }
  }
  .policy-state{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    &.policy-state-danger{
      background: #bf3c58;
    }
    &.policy-state-warn{
      background: #c48c00;
    }
  }

}

.bar-box {
  width: 120px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.active{
    background: #0e0e0f;
  }
  h4{
    color: @color;
    font-size: 14px;
  }
  .bar {
    height: 120px;
    width: 6px;
    position: relative;
    .bar-mark{
      font-size: 14px;
      color: @color;
      font-weight: bold;
      position: absolute;
      right: 12px;
      margin-bottom: -14px;
      &.bar-mark-danger{
        bottom: 10%;
      }
      &.bar-mark-warn{
        bottom: 35%;
      }
      &.bar-mark-normal{
        bottom: 65%;
      }
      &.bar-mark-error{
        bottom: 90%;
      }
    }


    .bar-analog-icon {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #000;
      border: 3px solid #fff;
      left: -2px;
      bottom: 10%;
    }

    .bar-analog-value {
      position: absolute;
      font-size: 16px;
      font-weight: bold;
      left: 14px;
      bottom: 10%;
      margin-bottom: -6px;

      &.bar-status-warn-color {
        color: #c48c00;
      }

      &.bar-status-normal-color {
        color: #00a076;
      }

      &.bar-status-danger-color {
        color: #bf3c58;
      }
    }

    .bar-status {
      background: #727272;
      margin-bottom: 2px;
      display: block;
      width: 100%;
      border-radius: 4px;

      &.bar-status-unnormal {
        position: relative;

        &:not(:last-of-type)::after {
          content: '- -';
          position: absolute;
          right: 8px;
          bottom: -11px;
          color: @color;
          width: 18px;
          font-weight: 900;
        }
      }

      &.bar-status-warn {
        height: 25%;
      }

      &.bar-status-warn-bg {
        background: #c48c00;
      }

      &.bar-status-normal {
        height: 30%;
      }

      &.bar-status-normal-bg {
        background: #00a076;
      }


      &.bar-status-danger {
        height: 10%;
      }

      &.bar-status-danger-bg {
        background: #bf3c58;
      }

    }
  }
}

.font-view {

  .planForm-title {
    width:100%;
    display:flex;
    justify-content: space-around;

    li {
      width:32%;
      box-sizing:border-box;
      border-bottom:1px solid #535456;
    }

    h4 {
      color:#bcbcbc;
      font-size:16px;
    }
  }

  .planform-container{
    width:100%;
    display:flex;
    justify-content: space-around;

    li {
      width:32%;
      height:200px;
      box-sizing:border-box;

      .planForm-bg1{
        width:100%;
        height:100%;
        background:url(../../../assets/planform/planform1.png) no-repeat center;
        background-size:contain;
      }

      .planForm-bg2{
        width:100%;
        height:100%;
        background:url(../../../assets/planform/planform2.png) no-repeat center;
        background-size:contain;
      }

      .planForm-bg3{
        width:100%;
        height:100%;
        background:url(../../../assets/planform/planform3.png) no-repeat center;
        background-size:contain;
      }
    }
  }
}

