<div class="bar-box">
  <h4>A1缸气缸排温</h4>
  <h4>（℃）</h4>
  <div class="bar">
    <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
    <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
    <span class="bar-status bar-status-normal-bg bar-status-normal"></span>
    <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
    <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
    <div class="bar-analog-icon"></div>
    <div class="bar-mark bar-mark-danger">0.8</div>
    <div class="bar-mark bar-mark-warn">24.3</div>
    <div class="bar-mark bar-mark-normal">57.2</div>
    <div class="bar-mark bar-mark-error">80.8</div>
    <div class="bar-analog-value bar-status-warn-color">89.1</div>
  </div>
</div>