<div class="bar-box">
  <div><img src="../../../../assets/chart_03.png" alt=""></div>
  <h4>{{item.name}}</h4>
  <h4>{{item.type == 0 ? '（℃）': '（℉）'}}</h4>
  <div class="bar" *ngIf="fnReturnState(item).err">
    <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
    <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
    <span class="bar-status bar-status-normal-bg bar-status-normal"></span>
    <span class="bar-status bar-status-warn-bg bar-status-warn"></span>
    <span class="bar-status bar-status-danger-bg bar-status-danger"></span>
    <div class="bar-mark bar-mark-danger">{{item.proRule.l}}</div>
    <div class="bar-mark bar-mark-warn">{{item.proRule.ll}}</div>
    <div class="bar-mark bar-mark-normal">{{item.proRule.h}}</div>
    <div class="bar-mark bar-mark-error">{{item.proRule.hh}}</div>
    <div class="bar-analog-icon bar-analog-{{fnReturnState(item).state}}-position"></div>
    <div class="bar-analog-value bar-status-{{fnReturnState(item).state}}-color bar-analog-{{fnReturnState(item).state}}-position">{{item.analog}}</div>
  </div>
  <div class="bar" *ngIf="!fnReturnState(item).err">
    <span class="bar-status bar-status-danger bar-status-unnormal"></span>
    <span class="bar-status bar-status-warn bar-status-unnormal"></span>
    <span class="bar-status bar-status-normal bar-status-unnormal"></span>
    <span class="bar-status bar-status-warn bar-status-unnormal"></span>
    <span class="bar-status bar-status-danger bar-status-unnormal"></span>
    <div class="bar-analog-icon bar-analog-{{fnReturnState(item).state}}-position"></div>
    <div class="bar-analog-value bar-status-{{fnReturnState(item).state}}-color bar-analog-{{fnReturnState(item).state}}-position">{{item.analog}}</div>
  </div>
</div>