<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo_03.png" alt="{{settings.app.name}}" style="max-height:40px;" />
    <!-- <img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg" alt="{{settings.app.name}}" style="max-height:40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{settings.app.name}}" style="max-height:30px;" /> -->
  </a>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav navList">
    <li>
      <span>中文</span>
      <i nz-icon type="down" theme="outline" style="font-size:12px;"></i>
    </li>
    <li>
      <span>报告</span>
      <i nz-icon type="down" theme="outline" style="font-size:12px;"></i>
    </li>
    <li>
      <span>消息中心</span>
    </li>
    <li *ngFor="let item of headerData">
      <i nz-icon type="{{item.icon}}" theme="outline"></i>
      <span>{{item.text}}</span>
    </li>
  </ul>
  <!-- <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search> -->
  <ul class="alain-default__nav">

    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
